<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <!-- katex -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
  <!-- highlightjs -->
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <style>
    .container {
      width: 600px;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    {{ &html }}
  </div>
</body>
</html>